
body{
    margin: 0;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    height: 3000px;
    font-family: Roboto;
    line-height: 30px;
}

.container{
    padding-top: 80px;
}

.navigation{
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.nav-icons,
.navlinks,
.logo{
    cursor: pointer;
}

.logo{
    font-size: 15px;
}

.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.middle-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    font-size: small;
}

.middle-arrows{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.arrow-down{
    width: 12px;
    height: 12px;
    object-fit: contain;
    object-position: bottom;
    margin-left: 2px;
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.main-right{
    width: 50%;
}

.line-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.075);
    width: 0.5px;
}

.bigger-line{
    height: 100px;
    background-color: black;
    width: 3px;
}

.hero-img{
    width: 400px;

}

.sale{
    line-height: initial;
    width: 300px;
    font-size: 60px;
    font-weight: bolder;
}

.check{
    font-size: smaller;
    display: flex;
    align-items: center;
}

.check-more{
    margin-right: 10px;
}

.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.women-header{
    background-color: #E5E5E5;
    width: 50%;
    height: 250px;
    display: flex;
    align-items: center;
}

.men-header{
    background-color: #ECECEC;
    width: 50%;
    height: 250px;
    display: flex;
    align-items: center;
}

.man{
    width: 50%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.women-button{
    border: none;
    border-radius: 20px;

    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: green;
    color: white;
}

.men-button{
    border: none;
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: red;
    color: white;
}

.header-title{
    font-size: 26px;
    margin-bottom: 10px;
}

.look{
    font-size: smaller;
    margin-top: 0;
}

.view-button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
    color: black;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.445);
    font-weight: bold;
}

